<html>
<head>
  <title>Shopping Cart</title>
  <meta name="section" content="cart"/>
</head>
<body>
<h1>About</h1>
<div id="dev">
<ul>
	<li>
		<h2>Greg</h2>
		<img src="/images/xmen/Avatars_X-Men_Beast.jpg" alt="Greg picture" />
		<p class="description">Beast is a fictional character, a superhero that appears in comic books published by Marvel Comics. He is a founding member of the mutant team of superheroes known as the X-Men. When he was first introduced, the Beast is a mutant who possesses ape-like superhuman physical strength and agility and oversized hands and feet, though he otherwise appears to be a normal human being.</p>
	</li>
	<li>
		<h2>Sébastien</h2>
		<img src="/images/xmen/Avatars_X-Men_Magneto-2.jpg" alt="Greg picture" />
		<p class="description">Magneto is a fictional character that appears in comic books published by Marvel Comics. He has most often been the primary villain of the X-Men comics, as well as the TV shows and the films; although in the comics, he has been an ally and even member of the X-Men at times. The character first appears in X-Men #1 (September 1963), and was created by writer Stan Lee and artist Jack Kirby.</p>
	</li>
	
	
	<li>
		<h2>Vincent</h2>
		<img src="/images/xmen/Avatars_X-Men_Sabertooth.jpg" alt="Greg picture" />
		<p class="description">Magneto is a fictional character that appears in comic books published by Marvel Comics. He has most often been the primary villain of the X-Men comics, as well as the TV shows and the films; although in the comics, he has been an ally and even member of the X-Men at times. The character first appears in X-Men #1 (September 1963), and was created by writer Stan Lee and artist Jack Kirby.</p>
	</li>
	<li>
		<h2>Rémo</h2>
		<img src="/images/xmen/aXM_CyclopsBeam.gif" alt="Greg picture" />
		<p class="description">Magneto is a fictional character that appears in comic books published by Marvel Comics. He has most often been the primary villain of the X-Men comics, as well as the TV shows and the films; although in the comics, he has been an ally and even member of the X-Men at times. The character first appears in X-Men #1 (September 1963), and was created by writer Stan Lee and artist Jack Kirby.</p>
	</li>
	<li>
		<h2>Guillaume</h2>
		<img src="/images/xmen/aXM_Nightcrawler.jpg" alt="Greg picture" />
		<p class="description">Magneto is a fictional character that appears in comic books published by Marvel Comics. He has most often been the primary villain of the X-Men comics, as well as the TV shows and the films; although in the comics, he has been an ally and even member of the X-Men at times. The character first appears in X-Men #1 (September 1963), and was created by writer Stan Lee and artist Jack Kirby.</p>
	</li>
	<li>
		<h2>Goran</h2>
		<img src="/images/xmen/aXM_Wolverine.png" alt="Greg picture" />
		<p class="description">Magneto is a fictional character that appears in comic books published by Marvel Comics. He has most often been the primary villain of the X-Men comics, as well as the TV shows and the films; although in the comics, he has been an ally and even member of the X-Men at times. The character first appears in X-Men #1 (September 1963), and was created by writer Stan Lee and artist Jack Kirby.</p>
	</li>
	
</ul>
</div>
</body>
</html>