<html>
<head>
<title>Shopping Cart</title>
<meta name="section" content="cart" />
</head>
<body>
	<h1>About</h1>
	<div class="logo">
		<img
			src="http://img4.wikia.nocookie.net/__cb20140116014001/cartoonfatness/images/f/ff/X-men-logo.png"
			alt="logo" />
	</div>
	<style type="text/css">
.logo {
	width: 512px;
	margin: 0 auto;
}

#dev li {
	display: block;
	min-height: 200px;
}

#dev img {
	float: left;
	margin-right: 15px;
}
</style>
	<div id="dev">
		<ul>
			<li>
				<h2>Greg</h2> <img src="/images/xmen/Avatars_X-Men_Beast.jpg"
				alt="Greg picture" />
				<p class="description">Beast is a fictional character, a
					superhero that appears in comic books published by Marvel Comics.
					He is a founding member of the mutant team of superheroes known as
					the X-Men. When he was first introduced, the Beast is a mutant who
					possesses ape-like superhuman physical strength and agility and
					oversized hands and feet, though he otherwise appears to be a
					normal human being.</p>
			</li>
			<li>
				<h2>Sébastien</h2> <img
				src="/images/xmen/Avatars_X-Men_Magneto-2.jpg"
				alt="Sébastien picture" />
				<p class="description">Magneto is a fictional character that
					appears in comic books published by Marvel Comics. He has most
					often been the primary villain of the X-Men comics, as well as the
					TV shows and the films; although in the comics, he has been an ally
					and even member of the X-Men at times. The character first appears
					in X-Men #1 (September 1963), and was created by writer Stan Lee
					and artist Jack Kirby.</p>
			</li>
			<li>
				<h2>Vincent</h2> <img
				src="/images/xmen/Avatars_X-Men_Sabertooth.jpg" alt="Greg picture" />
				<p class="description">Sabretooth (Victor Creed) is a fictional
					character, a Marvel Comics supervillain created by writer Chris
					Claremont and artist/co-writer John Byrne. The character first
					appeared in Iron Fist #14 (August 1977).</p>
			</li>
			<li>
				<h2>Rémo</h2> <img src="/images/xmen/aXM_CyclopsBeam.gif"
				alt="Greg picture" />
				<p class="description">Cyclops is a fictional character, a
					superhero that appears in comic books published by Marvel Comics.
					He often serves as the field leader of the X-Men. A mutant, Cyclops
					emits a powerful energy beam from his eyes (an "optic blast"). In
					uniform, he wears a battle visor with a single, ruby-quartz lens
					running eye-to-eye; the resulting one-eyed appearance is why he is
					codenamed "Cyclops", after the one-eyed giants of Greek mythology.</p>
			</li>
			<li>
				<h2>Guillaume</h2> <img src="/images/xmen/aXM_Nightcrawler.jpg"
				alt="Guillaume picture" />
				<p class="description">A mutant, Nightcrawler possesses
					superhuman agility, the ability to teleport across short or long
					distances, and adhesive hands and feet. His physical mutations
					include indigo-colored skin which allows him to become nearly
					invisible in shadows, two-toed feet and three-fingered hands,
					yellow eyes, pointed ears and a prehensile tail.</p>
			</li>
			<li>
				<h2>Goran</h2> <img src="/images/xmen/aXM_Wolverine.png"
				alt="Goran picture" />
				<p class="description">The wolverine /ˈwʊlvəriːn/, Gulo gulo
					(Gulo is Latin for "glutton"), also referred to as glutton,
					carcajou, skunk bear, or quickhatch, is the largest land-dwelling
					species of the family Mustelidae (weasels).</p>
			</li>
		</ul>
	</div>
</body>
</html>